In [4]:
# 라이브러리 불러오기
import urllib.request 
import json 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns
import numpy as np

%config InlineBackend.figure_format='retina'

# 한글 쓰기
plt.rc('font', family='Malgun Gothic')
sns.set(font="Malgun Gothic",#"NanumGothicCoding", 
        rc={"axes.unicode_minus":False}, # 마이너스 부호 깨짐 현상 해결
        style='darkgrid')

In [44]:
path = '추석교통량(최종).csv'

traffic = pd.read_csv(path)

traffic.head()

   Unnamed: 0  stdHour stdYear sphlDfttNm  iStdYear   trfl
0           0        0   2021년         추석       NaN  53920
1           1        1   2021년         추석       NaN  35778
2           2        2   2021년         추석       NaN  26782
3           3        3   2021년         추석       NaN  24182
4           4        4   2021년         추석       NaN  30804

In [48]:
traffic.rename(columns = {'stdHour':'시간대', 'stdYear':'연도','trfl':'교통량'},inplace = True)
traffic.drop('연도', axis = 1, inplace = True)
traffic

    시간대     교통량
0     0   53920
1     1   35778
2     2   26782
3     3   24182
4     4   30804
5     5   53276
6     6   84950
7     7  123384
8     8  171450
9     9  236229
10   10  300033
11   11  337419
12   12  334134
13   13  319830
14   14  317320
15   15  313981
16   16  302470
17   17  280444
18   18  236221
19   19  196442
20   20  172423
21   21  150673
22   22  113306
23   23   72217
24    0   85948
25    1   63049
26    2   48860
27    3   44777
28    4   49753
29    5   70478
30    6  104964
31    7  139682
32    8  175941
33    9  223397
34   10  269039
35   11  291447
36   12  285370
37   13  270841
38   14  266622
39   15  261347
40   16  264371
41   17  248639
42   18  205685
43   19  169140
44   20  142440
45   21  119458
46   22   88277
47   23   60900

In [41]:
path = '추석기온(최종).csv'

air = pd.read_csv(path)

air.drop('Unnamed: 0', axis = 1, inplace = True)
air

    시간  지역   강수량   풍속    시정    온도
0    1  서울   NaN  1.8  2000  20.3
1    2  서울   NaN  2.0  2000  20.1
2    3  서울   NaN  2.6  2000  19.9
3    4  서울   NaN  2.1  2000  19.5
4    5  서울   NaN  1.7  2000  19.2
5    6  서울   NaN  2.0  2000  19.1
6    7  서울   NaN  1.1  2000  19.2
7    8  서울   NaN  2.0  2000  20.9
8    9  서울   NaN  2.2  2000  23.1
9   10  서울   NaN  2.7  2000  24.4
10  11  서울   NaN  2.3  2000  24.8
11  12  서울   NaN  1.9  2000  26.0
12  13  서울   NaN  3.3  2000  26.8
13  14  서울   NaN  4.1  2000  27.5
14  15  서울   NaN  4.3  2000  28.0
15  16  서울   NaN  3.5  2000  27.5
16  17  서울   NaN  6.1  2000  27.2
17  18  서울   NaN  3.7  2000  25.8
18  19  서울   NaN  2.7  2000  25.1
19  20  서울   NaN  2.7  2000  24.9
20  21  서울   NaN  3.0  2000  24.5
21  22  서울   NaN  2.9  2000  24.2
22  23  서울   NaN  3.6  2000  23.8
23   1  서울   NaN  0.4  1521  18.4
24   2  서울   NaN  1.5  1476  18.2
25   3  서울   NaN  1.9  1208  17.8
26   4  서울   NaN  1.1  1260  17.3
27   5  서울   NaN  1.3  1019  16.8
28   6  서울   NaN  1.1   972  16.5
29   7  서울   NaN  2.1   867  16.2
30   8  서울   NaN  2.4   841  16.9
31   9  서울   NaN  1.2  1336  18.5
32  10  서울   NaN  2.1  1866  20.6
33  11  서울   NaN  2.4  1915  22.3
34  12  서울   NaN  2.8  1969  23.5
35  13  서울   NaN  1.7  1869  24.7
36  14  서울   NaN  1.6  1836  25.6
37  15  서울   NaN  2.3  2000  24.5
38  16  서울   0.0  2.2  1652  23.7
39  17  서울   4.1  2.2   361  20.9
40  18  서울   0.2  1.9   622  20.7
41  19  서울  29.5  2.7    92  19.0
42  20  서울   4.5  1.9   574  18.4
43  21  서울   NaN  0.7   809  18.2
44  22  서울   NaN  1.5  1161  17.6
45  23  서울   NaN  2.2  1071  17.1

In [42]:
air.drop(['지역','강수량'],axis = 1 , inplace = True)
air

    시간   풍속    시정    온도
0    1  1.8  2000  20.3
1    2  2.0  2000  20.1
2    3  2.6  2000  19.9
3    4  2.1  2000  19.5
4    5  1.7  2000  19.2
5    6  2.0  2000  19.1
6    7  1.1  2000  19.2
7    8  2.0  2000  20.9
8    9  2.2  2000  23.1
9   10  2.7  2000  24.4
10  11  2.3  2000  24.8
11  12  1.9  2000  26.0
12  13  3.3  2000  26.8
13  14  4.1  2000  27.5
14  15  4.3  2000  28.0
15  16  3.5  2000  27.5
16  17  6.1  2000  27.2
17  18  3.7  2000  25.8
18  19  2.7  2000  25.1
19  20  2.7  2000  24.9
20  21  3.0  2000  24.5
21  22  2.9  2000  24.2
22  23  3.6  2000  23.8
23   1  0.4  1521  18.4
24   2  1.5  1476  18.2
25   3  1.9  1208  17.8
26   4  1.1  1260  17.3
27   5  1.3  1019  16.8
28   6  1.1   972  16.5
29   7  2.1   867  16.2
30   8  2.4   841  16.9
31   9  1.2  1336  18.5
32  10  2.1  1866  20.6
33  11  2.4  1915  22.3
34  12  2.8  1969  23.5
35  13  1.7  1869  24.7
36  14  1.6  1836  25.6
37  15  2.3  2000  24.5
38  16  2.2  1652  23.7
39  17  2.2   361  20.9
40  18  1.9   622  20.7
41  19  2.7    92  19.0
42  20  1.9   574  18.4
43  21  0.7   809  18.2
44  22  1.5  1161  17.6
45  23  2.2  1071  17.1

In [49]:
path = '통행시간(최종).csv'

min_ = pd.read_csv(path)

min_.head()

   Unnamed: 0  시간    연도 출발영업소 도착영업소  통행시간(분)
0           0   0  2021    서울    부산      228
1           1   1  2021    서울    부산      240
2           2   2  2021    서울    부산      243
3           3   3  2021    서울    부산      242
4           4   4  2021    서울    부산      254

In [50]:
min_.drop(['Unnamed: 0','시간'], axis = 1 , inplace = True)

min_

      연도 출발영업소 도착영업소  통행시간(분)
0   2021    서울    부산      228
1   2021    서울    부산      240
2   2021    서울    부산      243
3   2021    서울    부산      242
4   2021    서울    부산      254
5   2021    서울    부산      248
6   2021    서울    부산      251
7   2021    서울    부산      255
8   2021    서울    부산      261
9   2021    서울    부산      275
10  2021    서울    부산      288
11  2021    서울    부산      294
12  2021    서울    부산      296
13  2021    서울    부산      295
14  2021    서울    부산      296
15  2021    서울    부산      297
16  2021    서울    부산      303
17  2021    서울    부산      298
18  2021    서울    부산      287
19  2021    서울    부산      274
20  2021    서울    부산      264
21  2021    서울    부산      264
22  2021    서울    부산      274
23  2021    서울    부산      246
24  2020    서울    부산      285
25  2020    서울    부산      281
26  2020    서울    부산      289
27  2020    서울    부산      278
28  2020    서울    부산      271
29  2020    서울    부산      277
30  2020    서울    부산      277
31  2020    서울    부산      277
32  2020    서울    부산      287
33  2020    서울    부산      297
34  2020    서울    부산      310
35  2020    서울    부산      315
36  2020    서울    부산      316
37  2020    서울    부산      326
38  2020    서울    부산      320
39  2020    서울    부산      320
40  2020    서울    부산      313
41  2020    서울    부산      309
42  2020    서울    부산      304
43  2020    서울    부산      288
44  2020    서울    부산      267
45  2020    서울    부산      288
46  2020    서울    부산      279
47  2020    서울    부산      259

In [106]:
fin = pd.concat([air,traffic, min_], join = 'inner', axis = 1)
fin=fin[['연도','시간대','출발영업소','도착영업소','온도','풍속','시정','교통량','통행시간(분)']]
fin.head()

     연도  시간대 출발영업소 도착영업소    온도   풍속    시정    교통량  통행시간(분)
0  2021    0    서울    부산  20.3  1.8  2000  53920      228
1  2021    1    서울    부산  20.1  2.0  2000  35778      240
2  2021    2    서울    부산  19.9  2.6  2000  26782      243
3  2021    3    서울    부산  19.5  2.1  2000  24182      242
4  2021    4    서울    부산  19.2  1.7  2000  30804      254

In [107]:
fin.to_csv('추석 연휴 시간대 예측.csv')

In [58]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연도       46 non-null     int64
 1   시간대      46 non-null     int64
 2   출발영업소    46 non-null     object
 3   도착영업소    46 non-null     object
 4   온도       46 non-null     float64
 5   풍속       46 non-null     float64
 6   시정       46 non-null     int64
 7   교통량      46 non-null     int64
 8   통행시간(분)  46 non-null     int64
dtypes: float64(2), int64(5), object(2)
memory usage: 3.4+ KB

In [80]:
fin['통행시간(분)']= fin['통행시간(분)'].astype('int')

In [76]:
import datetime

In [108]:
def min_to_time(row):
    return str(datetime.timedelta(minutes = row))


fin['통행시간(분)']= fin['통행시간(분)'].apply(min_to_time)

In [110]:
fin
# fin.to_csv('추석 이벤트 시간예측.csv')

      연도  시간대 출발영업소 도착영업소    온도   풍속    시정     교통량  통행시간(분)
0   2021    0    서울    부산  20.3  1.8  2000   53920  3:48:00
1   2021    1    서울    부산  20.1  2.0  2000   35778  4:00:00
2   2021    2    서울    부산  19.9  2.6  2000   26782  4:03:00
3   2021    3    서울    부산  19.5  2.1  2000   24182  4:02:00
4   2021    4    서울    부산  19.2  1.7  2000   30804  4:14:00
5   2021    5    서울    부산  19.1  2.0  2000   53276  4:08:00
6   2021    6    서울    부산  19.2  1.1  2000   84950  4:11:00
7   2021    7    서울    부산  20.9  2.0  2000  123384  4:15:00
8   2021    8    서울    부산  23.1  2.2  2000  171450  4:21:00
9   2021    9    서울    부산  24.4  2.7  2000  236229  4:35:00
10  2021   10    서울    부산  24.8  2.3  2000  300033  4:48:00
11  2021   11    서울    부산  26.0  1.9  2000  337419  4:54:00
12  2021   12    서울    부산  26.8  3.3  2000  334134  4:56:00
13  2021   13    서울    부산  27.5  4.1  2000  319830  4:55:00
14  2021   14    서울    부산  28.0  4.3  2000  317320  4:56:00
15  2021   15    서울    부산  27.5  3.5  2000  313981  4:57:00
16  2021   16    서울    부산  27.2  6.1  2000  302470  5:03:00
17  2021   17    서울    부산  25.8  3.7  2000  280444  4:58:00
18  2021   18    서울    부산  25.1  2.7  2000  236221  4:47:00
19  2021   19    서울    부산  24.9  2.7  2000  196442  4:34:00
20  2021   20    서울    부산  24.5  3.0  2000  172423  4:24:00
21  2021   21    서울    부산  24.2  2.9  2000  150673  4:24:00
22  2021   22    서울    부산  23.8  3.6  2000  113306  4:34:00
23  2021   23    서울    부산  18.4  0.4  1521   72217  4:06:00
24  2020    0    서울    부산  18.2  1.5  1476   85948  4:45:00
25  2020    1    서울    부산  17.8  1.9  1208   63049  4:41:00
26  2020    2    서울    부산  17.3  1.1  1260   48860  4:49:00
27  2020    3    서울    부산  16.8  1.3  1019   44777  4:38:00
28  2020    4    서울    부산  16.5  1.1   972   49753  4:31:00
29  2020    5    서울    부산  16.2  2.1   867   70478  4:37:00
30  2020    6    서울    부산  16.9  2.4   841  104964  4:37:00
31  2020    7    서울    부산  18.5  1.2  1336  139682  4:37:00
32  2020    8    서울    부산  20.6  2.1  1866  175941  4:47:00
33  2020    9    서울    부산  22.3  2.4  1915  223397  4:57:00
34  2020   10    서울    부산  23.5  2.8  1969  269039  5:10:00
35  2020   11    서울    부산  24.7  1.7  1869  291447  5:15:00
36  2020   12    서울    부산  25.6  1.6  1836  285370  5:16:00
37  2020   13    서울    부산  24.5  2.3  2000  270841  5:26:00
38  2020   14    서울    부산  23.7  2.2  1652  266622  5:20:00
39  2020   15    서울    부산  20.9  2.2   361  261347  5:20:00
40  2020   16    서울    부산  20.7  1.9   622  264371  5:13:00
41  2020   17    서울    부산  19.0  2.7    92  248639  5:09:00
42  2020   18    서울    부산  18.4  1.9   574  205685  5:04:00
43  2020   19    서울    부산  18.2  0.7   809  169140  4:48:00
44  2020   20    서울    부산  17.6  1.5  1161  142440  4:27:00
45  2020   21    서울    부산  17.1  2.2  1071  119458  4:48:00

In [105]:
fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46 entries, 0 to 45
Data columns (total 9 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   연도       46 non-null     int64
 1   시간대      46 non-null     int64
 2   출발영업소    46 non-null     object
 3   도착영업소    46 non-null     object
 4   온도       46 non-null     float64
 5   풍속       46 non-null     float64
 6   시정       46 non-null     int64
 7   교통량      46 non-null     int64
 8   통행시간(분)  46 non-null     timedelta64[ns]
dtypes: float64(2), int64(4), object(2), timedelta64[ns](1)
memory usage: 3.4+ KB